#name{
    font-size: 100px;
    color: rgb(37 99 235);
}

#jobhiring{
    font-family: 'Bevan', cursive;
}

.title-font{
font-family: 'Russo One', sans-serif;
font-size: 60px;
}

.table-auto tbody tr td{
    margin-bottom: 200px;
}

.table-auto thead tr th{
    font-size: 20px;
}