#name{
    font-size: 100px;
    color: rgb(96 165 250);
}

#jobhiring{
    font-family: 'Bevan', cursive;
}

.title-font{
font-family: 'Russo One', sans-serif;
font-size: 60px;
}

.job_data td{
    margin: 200px;
}